{
  "repositoryUrl": "git@github.com:jaromil/frei0r.git",
  "dryRun": false,
  "plugins": [
    "@semantic-release/changelog",
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator"
  ]
}
