{
  "repositoryUrl": "git@github.com:dyne/jaromil.git",
  "dryRun": false,
  "plugins": [
    "@semantic-release/changelog",
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator"
  ]
}
